<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>OYR Inventory Manager - a Inventory Management Solution</title>
</head>
<body>
    <th:block layout:fragment="content">
        <h3>Welcome to OYR Inventory Manager - a Inventory Management Solution.</h3>
        <div>OYR is a web-based solution that enables mobile retailers
            and service providers within the SME space access and process
            their business records from any smart device</div>
        <ul>
            <li>Reduce loss and leakages</li>
            <li>Become more productive and competitive</li>
            <li>Gives you intelligent insights on your business performance</li>
            <li>Empowers you with information real time</li>
            <li>Click to <a href="/inventory-manager/merchants/new" >Setup Account</a></li>
        </ul>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>














