<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}"/>
    <title>Inventory Manager - New Salesperson</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="salesRegForm" method="post" action="/inventory-manager/salespersons/new" th:object="${salesperson}">
        <fieldset>
            <legend>Create Salesperson</legend>

            <input type="hidden" name="salesmanId" th:value="${salesperson.salesmanId}" />
            <input type="hidden" name="user.userType" th:value="MERCHANT" />

            <div class="form-group">
                <label>Staff No</label>
                <span th:if="${#fields.hasErrors('staffId')}" th:errors="*{salesperson.staffId}"
                      class="alert alert-danger"></span>
                <input id="staffId" name="staffId" type="text" class="form-control" th:value="${salesperson.staffId}">
            </div>

            <div class="form-group">
                <label for="firstName">First Name</label>
                <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{salesperson.user.firstName}"
                      class="alert alert-danger"></span>
                <input id="firstName" name="user.firstName" type="text" class="form-control"
                       th:value="${salesperson.user.firstName}">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{salesperson.user.lastName}"
                      class="alert alert-danger"></span>
                <input id="lastName" name="user.lastName" type="text" class="form-control"
                       th:value="${salesperson.user.lastName}">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{salesperson.user.email}"
                      class="alert alert-danger"></span>
                <input id="email" name="user.email" type="email" class="form-control"
                       aria-describedby="emailAddressHelp" placeholder="e.g. name@domain.com"
                       pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
                       title="Email must be in the format, name@domain.tld" th:value="${salesperson.user.email}">
                <small id="emailAddressHelp" class="form-text text-muted">Enter a valid email address; in the format as
                    specified.
                </small>
            </div>

            <div class="form-group">
                <label for="mobile">Phone Number</label>
                <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{salesperson.user.mobile}"
                      class="alert alert-danger"></span>
                <input id="mobile" name="user.mobile" type="text" class="form-control"
                       th:value="${salesperson.user.mobile}">
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{salesperson.user.username}"
                      class="alert alert-danger"></span>
                <input id="username" name="user.username" type="text" class="form-control"
                       aria-describedby="usernameAddressHelp" placeholder="e.g. name@domain.com"
                       th:value="${salesperson.user.username}">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{salesperson.user.password}"
                      class="alert alert-danger"></span>
                <input id="password" name="user.password" type="password" class="form-control"
                       th:value="${salesperson.user.password}">
            </div>

            <div style="float:right;">
                <a href="/inventory-manager/salespersons/index" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Create</button>
            </div>
        </fieldset>
    </form>
</th:block>

<th:block layout:fragment="footer"></th:block>
</body>
</html>